.Card {
    position: relative;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(95, 0, 0), rgb(0, 0, 0));
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 5px;
    border-style:solid;
    border-color:rgb(95, 0, 0);
    transition: 0.4s;
}
.Card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
                 0 0 20px rgb(255, 255, 255, 0.3),
                 0 0 30px rgb(255, 255, 255, 0.3),
                 0 0 40px rgb(255, 255, 255, 0.3);
                    transform: translate3d(0.1ch, 0.1in, 7em);
                    background: linear-gradient(rgba(95, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
                    color: rgba(255, 255, 255, 0.5);
} 
.Card img {
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
    width:250px;
     height:200px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 50px;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 100px;
   
    
}
.filtersCss {
    display: flex;
    justify-content: center;
}

.numbers { 
    position: relative;
    background-color: rgb(0, 0, 0);
    color: brown;
    padding: 10px;
    margin: 2px;
    border-style:solid;
    border-color:brown;
    border-radius: 5px;
    
    
}

.numbers:focus {
    background-color: rgba(63, 63, 63, 0.233);
    color: burlywood;
}

.imgs {
    overflow: hidden;
}

.Home {
    background: rgb(7, 7, 36);
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}

.GameDetail {
    cursor: pointer;
    position: absolute;
    top: 310px;
    right: 75px;
    background:  rgb(151, 0, 35);  
    font-weight: 600;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 100px;
    
}


.genres {
    padding: 1px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,60,1) 50%, rgba(0,0,0,1) 100%);
}

.nav {
    background: linear-gradient(-180deg, rgba(7,7,36,1) 50%, rgb(95, 0, 0) 100%);
    margin-bottom: 10px;
}

.labels {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.selects {
    border-radius: 5px;
}

.LoaderGifMegaman {
   position: relative;
   top: 80px;
   left: 365px;
}

.LoaderGif {
    position: relative;
    top: -50px;
    left: 360px;
}