.numbersDiv {
    position: relative;
    left: 565px;
    top: -5px;
    width: 300px;
}

.numbers { 
    position: relative;
    background-color: rgb(0, 0, 0);
    color: brown;
    width: 30px;
    height: 30px;
    margin: 0px 6px;
    right: 2.5em;
    border-style:solid;
    border-color:brown;
    border-radius: 5px;
    text-align: center;   
}

.numbers:hover {
    cursor: pointer;
}

.numbers:focus {
    background-color: rgba(63, 63, 63, 0.233);
    color: burlywood;
}

@media (min-width: 1920px) {
    .numbersDiv{
        left: 842px;
    }
}