.General {
  position: relative;
  background: linear-gradient(
    -180deg,
    rgba(7, 7, 36, 1) 0%,
    rgb(95, 0, 0) 50%,
    rgba(7, 7, 36, 1) 100%
  );
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  color: white;
  text-shadow: 5px 5px 5px black;
  z-index: 2;
  bottom: 20px;
}

.transparentForm {
  background-color: rgba(255, 255, 255, 0.137);
  width: 620px;
  height: 520px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.transparentForm::before {
  content: "";
  position: absolute;
  left: -250px;
  top: -250px;
  width: 1100px;
  height: 1100px;
  background: linear-gradient(
    rgb(93, 1, 136),
    rgb(255, 0, 60),
    rgb(93, 1, 136),
    rgb(255, 0, 60),
    rgb(93, 1, 136),
    rgb(255, 0, 60),
    rgb(93, 1, 136),
    rgb(255, 0, 60)
  );
  animation: animate 5s linear 0s infinite;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

.transparentForm::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50px;
  background: linear-gradient(
    -180deg,
    rgba(7, 7, 36, 1) 0%,
    rgb(95, 0, 0) 50%,
    rgba(7, 7, 36, 1) 100%
  );
  overflow: hidden;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.BackToHomeDiv {
    height: 3em;
  position: relative;
    right: 32em;
}

.BackToHomeButton {
  padding: 8px;
  border-radius: 6px;
  border-style: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgba(255, 0, 60, 1);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.BackToHomeButton:hover {
  background-color: rgb(143, 0, 199);
}

.nameDiv {
  position: relative;
  top: -50px;
  z-index: 2;
}

.nameInput {
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
}

.nameInput::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.divErrorName {
  width: 200px;
  height: 18px;
  margin-top: 2px;
  margin-bottom: 4px;
  border-radius: 5px;
  position: relative;
  bottom: 0.6em;
  left: 13.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descriptionDiv {
  position: relative;
  top: -50px;
  z-index: 2;
  width: 100%;
  height: 35px;
  margin-bottom: 2px;
}

.descriptionInput {
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 20px;
  position: relative;
  bottom: 0.8em;
  margin-bottom: 6px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
}

.descriptionInput::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.divErrorDescription {
  width: 160px;
  height: 18px;
  border-radius: 5px;
  position: relative;
  bottom: 0.8em;
  left: 14.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: orange; */
}

.dateDiv {
  position: relative;
  top: -50px;
  z-index: 2;
}

.dateInput {
  border-radius: 5px;
  border: none;
  width: 302px;
  height: 22px;
  margin-bottom: 9px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
}

.dateInput::placeholder {
  color: black;
}

.divErrorDate {
  width: 200px;
  height: 18px;
  border-radius: 5px;
  position: relative;
  bottom: 0.5em;
  left: 13.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: orange; */
}

.ratingDiv {
  position: relative;
  top: -50px;
  z-index: 2;
}
.ratingInput {
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
}

.ratingInput::placeholder {
  color: black;
}

.divErrorRating {
  width: 250px;
  height: 18px;
  border-radius: 5px;
  position: relative;
  bottom: 0.5em;
  left: 11.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: orange; */
}

.labelGenres {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 142px;
  left: 158px;
  z-index: 2;
}

.labelPlatforms {
  position: absolute;
  font-weight: bold;
  bottom: 141px;
  left: 295px;
  color: white;
  z-index: 2;
}

.selectGenres {
  background-color: rgba(255, 0, 60, 1);
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 55px;
  right: 10px;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 20px;
  margin-bottom: 10px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
  z-index: 2;
}

.selectPlatforms {
  background-color: rgba(255, 0, 60, 1);
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 55px;
  left: 68px;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 20px;
  margin-bottom: 10px;
  text-align-last: center;
  box-shadow: inset 2px 2px 5px black;
  z-index: 2;
}

.divRenderGenres {
  position: relative;
  bottom: 60px;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
}
.divRenderGenres div {
  background-color: none;
  border: 2px solid rgb(255, 0, 85);
  margin: 2px;
  padding: 2px 2px 2px 4px;
  border-radius: 0.2em;
  user-select: none;
}

.divRenderPlatforms {
  display: flex;
  font-size: 10px;
  position: relative;
  bottom: 60px;
  font-weight: bold;
  justify-content: center;
  color: white;
  z-index: 2;
  user-select: none;
}
.divRenderPlatforms div {
  background-color: none;
  border: 2px solid rgb(255, 0, 85);
  margin: 2px;
  padding: 2px 2px 2px 4px;
  border-radius: 0.2em;
}

.buttonXgenres {
  position: relative;
  right: 2px;
  height: 20px;
  border-radius: 2px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-align-last: auto;
  align-items: center;
  z-index: 2;
  padding-bottom: 2px;
  margin-bottom: 2px;
  bottom: 0.01em;
}
.buttonXplatforms {
  position: relative;
  right: 2px;
  height: 20px;
  border-radius: 2px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-align-last: auto;
  align-items: center;
  z-index: 2;
  padding-bottom: 2px;
  margin-bottom: 2px;
  bottom: 0.01em;
}
.buttonXplatforms:hover,
.buttonXgenres:hover {
  color: rgb(255, 0, 64);
  cursor: pointer;
}

.buttonDone {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 90px;
  height: 40px;
  padding: 8px;
  border-radius: 14px;
  border-style: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgba(255, 0, 60, 1);
  box-shadow: 5px 5px 5px black;
  z-index: 2;
  cursor: pointer;
}
.buttonDone:hover {
  background-color: rgb(143, 0, 199);
}

.errors {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 700;
}

.descriptionErrors,
.dateErrors,
.ratingErrors {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}


